# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/logs
.env
data/raw
data/processed 
__pycache__
.idea
.virtualenv
__init__.py
.venv

target/
dbt_packages/
logs/
profiles.yml
.user.yml
.venv
node_modules
__pycache__

docs/guide_dbt.pdf

data
